* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.content h1 {
    margin-top: 0;
}


h1 {
    font-size: 6.5em;
}

body {
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    /* background-color: #ff9b70; */
    background-color: #ffffff;
    overflow-x: hidden;
}

p {
    margin: 0;
}

.bg-img {
    background-size: cover;
    max-width: 100%;
}

#char-select, #select-images {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: last baseline;
    gap: 1em;
    margin-bottom: 1em;
}

#next-btn {
    position: absolute;
    right: 1.5em;
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 2em;
    color: white;
}

#previous-btn {
    position: absolute;
    left: 1em;
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 2em;
    color: white;
}

#next-btn:hover, #previous-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10%;
}

.workout-select, .temp-animation-right, .temp-animation-left {
    transform: skew(-5deg);
    height: 70%;
    background: linear-gradient(225deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(40,47,48,1) 100%);
}

.content {
    flex-direction: column;
    color: white;
    align-items: center;
    height: 100%;
}

#contents {
    height: 65vh;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.workout-select img, .temp-animation-right img, .temp-animation-left img {
    width: 100px;
    height: 100%;
    background-size: contain;
}

#workout-info {
    height: 80vh;
    padding: 1em;
    display: flex;
    align-items: center;
}

.carousel-item img {
    background-color: white;
    padding: 10px 0 70px 0;
}

.profile-container {
    /* border-color: grey;
    border: solid;
    background-color: grey; */
    /* z-index: 1; */
    position: absolute;
    top: 45%;
    /* left: 50%; */
    width: 100%;
    /* background-color: white; */
    height: 400px;
}

.profile-select {
    /* background-color: white; */
    gap: 10px;
    /* padding-left: 50px; */
    /* position: absolute; */
    /* border-color: black;
    border: solid; */
    /* width: fit-content; */
    width: 500px;
    /* padding-right: 50px; */
    /* z-index: -1; */
}

.profile-box {
    background-color: #101010;
    /* border-color: red; */
    border-color: #555555 !important;
    border: solid;
    width: auto;
    height: auto;
    margin-top: 200px;
    z-index: 2;
}

.profile-button {
    background-color: #101010;
    width: fit-content;
    height: 100%;
    vertical-align: middle;
}

.profile-button a {
    height: 100%;
    text-decoration: none;

}

.profile-button i {
    font-size: 100px !important;

}
.profile {
    transform: skew(20deg);
    /* background: #555; */
    cursor: pointer;
    position: relative;
    /* padding: 0 30px; */
    /* width: 100px; */
    margin-top: auto;
    width: fit-content;
    height: 300px;
    right: 160px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.profile-transition {
    transition: width 0.5s ease;
}

.selected-profile a img {
    width: 150px;
    height: 300px;
}

.profile a {
    pointer-events: none;
}

.profile.moveRight {
    /* right: 200px; */
    /* transform: ; */
    transform: translate(100%, 0) skew(20deg);
    /* order: 5; */
    /* transform: skew(20deg); */
}

.profile img {
    object-fit: cover;
    width: 100px;
    height: 200px;
    border-style: solid;
    border-color: #555;
    margin-top: auto;
}

.profile a {
    margin-top: auto;
}

#hexagon {
    width: 66px;
    height: 104px;
    background: rgb(41, 41, 41);
    position: relative;
    z-index: -1;
    margin: 0 auto;
    transform: rotate(90deg);
}

.container-hexa {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* .container {
    background-color: #ffffff;
    padding: 100px 0 0;
    padding-bottom: 120px;
}

section, footer {
    background-color: #ff9b70;
    padding: 1em 0;
}

section h1 {
    margin: 0;
}

.content-slide {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.imgslide {
    display: block;
}

footer {
    padding: 2em;
}

img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    /* margin-bottom: auto; */


/* } */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #ff9b70;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #f4f4f4;
    color: #ff9b70;
}

.text {
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    padding: 8px 12px;
    position: absolute;
    bottom: 8;
    width: 100%;
    text-align: center;
}

#workout {
    color: #ffffff;
    font-size: 25px;
    /* font-weight: bolder; */
    text-align: center;
}

.content-slide .number-slide {
    color: #ff9b70;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 800px) {
    .content-slide {
        padding: 8px 50px 12px 50px;
    }
    .next {
        right: 50px;
        border-radius: 3px 0 0 3px;
    }
}

.fade-image {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade-image {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-image {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

.content h1 {
    background-color: rgb(28, 28, 28, 0.7);
    border-radius: 10px;
    padding: 0px 10px 15px 10px;
    /* border-color: rgb(41, 41, 41, 0.7); */
    /* border-width: 10px; */
    /* border-style: solid; */
}

.content p {
    background-color: rgba(28, 28, 28, 0.7);
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    font-size: 20px;
    /* border-color: rgb(41, 41, 41, 0.7); */
    /* border-width: 10px; */
    /* border-style: solid; */
}